* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    font-family: sans-serif;
}

nav {
    background-color: lightblue;
    padding: 20px 10px;
}

a {
    text-decoration: none;
    color: yellow;
    font-size: 30px;
    font-weight: 800px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container div {
    border: 1px solid black;
}

.container img {
    width: 150px;
}
